*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --dark: #02090e;
    --light: #fff;
    --color0: #F2F2F2;
    --color1: #A67298;
    --color2: #A9BF7A;
    --color3: #D9946C;
    --color4: #BF6E50;
    --right:  green;
    --wrong: red; 
}

body{
    width: 100vw;
    height: 100vh; 
    background-color: var(--color0);
}

.start-container{
    display: block;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
}

.grid {
    display: grid;
    gap: 10px;
    margin: 10px;
}

.buttons {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color2);
}

.buttons:hover {
    border-color: var(--dark);
    background-color: var(--color3);
}

.buttons.correct {
    background-color: var(--right); 
}

.buttons.wrong {
    background-color: var(--wrong);
}

#next-button {
    background-color: var(--dark);
    color: var(--light);
}

.hidden {
    display: none;
}